*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  background: #fff;
  font-family: "Manrope", sans-serif;
}

html,
body {
  height: 100%;
}

.header {
  display: flex;
  justify-content: center;
  align-items: start;
  border-radius: 0 0 0 19.15rem;
  background: #f1f5fe;
  width: 100%;
  height: 40rem;
  position: relative;
}
.header__texts {
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  gap: 0.8rem;
  margin-top: 8.9rem;
  z-index: 5;
}
.header__main {
  color: #293356;
  font-size: 2rem;
  font-weight: 800;
}
.header__sub-texts {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #848ead;
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 2.3rem;
}
.header__circles {
  display: block;
  position: absolute;
  top: 5.7rem;
}

.pricing {
  max-width: 32.7rem;
  border-radius: 0.8rem;
  background: #fff;
  box-shadow: 0 2rem 3rem -0.5rem rgba(127, 137, 185, 0.15);
  margin: 0 auto;
  transform: translateY(-16.6rem);
}
.pricing__info {
  padding: 3.4rem 1.2rem 3.8rem 2.4rem;
  border-bottom: 0.1rem solid #ecf0fb;
}
.pricing__traffic {
  display: block;
  color: #848ead;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 800;
  letter-spacing: 0.1714rem;
  text-transform: uppercase;
  margin-bottom: 4.1rem;
}
.pricing__traffic-slider {
  width: 100%;
  max-width: 27.9rem;
  height: 0.8rem;
  border-radius: 0.5rem;
  background: linear-gradient(to right, #a4f3eb 50%, #ecf0fb 50%);
  transition: background 0.3s ease-in-out;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  position: relative;
  z-index: 10;
  margin-bottom: 4rem;
}
.pricing__traffic-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background: #10d8c4;
  background-image: url(../images/icon-slider.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.pricing__price-per-month {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 3.4rem;
}
.pricing__price {
  color: #293356;
  font-size: 3.2rem;
  font-weight: 800;
  letter-spacing: -0.08rem;
}
.pricing__per-month {
  color: #848ead;
  font-size: 1.4rem;
  font-weight: 600;
}
.pricing__billing {
  display: flex;
  align-items: center;
  margin-left: 2.05rem;
}
.pricing__billing-type {
  color: #848ead;
  font-size: 1.2rem;
  font-weight: 600;
}
.pricing__toggle {
  margin: 0 1.2rem;
}
.pricing__checkbox {
  display: none;
}
.pricing__slider {
  display: inline-block;
  position: relative;
  width: 4.3rem;
  height: 2.2rem;
  background: #cfd8ef;
  border-radius: 1.5rem;
}
.pricing__slider::before {
  display: inline-block;
  content: "";
  width: 1.4rem;
  height: 1.4rem;
  background: #fff;
  border-radius: 1.4rem;
  position: absolute;
  top: 0.4rem;
  left: 0.4rem;
  transition: transform 0.3s;
}
.pricing__checkbox:checked + .pricing__slider {
  background: #10d8c4;
}
.pricing__checkbox:checked + .pricing__slider::before {
  transform: translateX(2.1rem);
}
.pricing__billing-discount {
  width: 4.1rem;
  height: 1.9rem;
  border-radius: 0.95rem;
  background: #feede8;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ff8d68;
  font-size: 1rem;
  font-weight: 800;
  margin-left: 0.55rem;
}
.pricing__features-start {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.2rem;
  padding: 2.4rem 0 3.2rem;
}
.pricing__features {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  list-style: none;
}
.pricing__feature {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  color: #848ead;
  font-size: 1.2rem;
  font-weight: 600;
}
.pricing__feature::before {
  display: inline-block;
  content: "";
  width: 0.7rem;
  height: 0.6rem;
  background-image: url("../images/icon-check.svg");
  background-size: cover;
}
.pricing__start-btn {
  border: none;
  border-radius: 2.05rem;
  background: #293356;
  width: 17rem;
  height: 4.1rem;
  color: #becdff;
  text-align: center;
  font-family: "Manrope", sans-serif;
  font-size: 1.2rem;
  font-weight: 800;
}

@media only screen and (max-width: 20.625em) {
  .pricing__info {
    padding: 3.4rem 2.4rem 3.8rem;
  }
  .pricing__billing-type {
    font-size: 1.05rem;
  }
}/*# sourceMappingURL=main.css.map */