// ********* DESIGN SYSTEM *********

// ************ COLORS ************
$color-catskill-white: #f1f5fe;
$color-white: #fff;
$color-cloud-burst: #293356;
$color-regent-grey: #848ead;
$color-ice-cold: #a4f3eb;
$color-dark-turquoise: #10d8c4;
$color-titan-white: #ecf0fb;
$color-tropical-blue: #cfd8ef;
$color-linen: #feede8;
$color-atomic-tangerine: #ff8d68;
$color-periwinkle: #becdff;
$color-light-sea-green: #24aea1;
$color-blue-lagoon: #7aeadf;
$color-wild-blue-yonder-15-percent: rgba(127, 137, 185, 0.15);

// ********** FONT-FAMILY **********
$font-manrope: "Manrope", sans-serif;

// ********* FONT-WEIGHTS *********
$fw-600: 600;
$fw-800: 800;
