// ********* DESIGN SYSTEM *********

// ************ COLORS ************
$color-catskill-white: #f1f5fe;
$color-white: #fff;
$color-cloud-burst: #293356;
$color-regent-grey: #848ead;
$color-ice-cold: #a4f3eb;
$color-dark-turquoise: #10d8c4;
$color-titan-white: #ecf0fb;
$color-tropical-blue: #cfd8ef;
$color-linen: #feede8;
$color-atomic-tangerine: #ff8d68;
$color-periwinkle: #becdff;
$color-wild-blue-yonder-15-percent: rgba(127, 137, 185, 0.15);

// ********** FONT-FAMILY **********
$font-manrope: "Manrope", sans-serif;

// ********* FONT-WEIGHTS *********
$fw-600: 600;
$fw-800: 800;

// ************* BASE *************
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  background: $color-white;
  font-family: $font-manrope;
}

html,
body {
  height: 100%;
}

// ********* MOBILE LAYOUTS *********

// ********* 375px LAYOUT *********

// ************ HEADER ************
.header {
  display: flex;
  justify-content: center;
  align-items: start;
  border-radius: 0 0 0 19.15rem;
  background: $color-catskill-white;
  width: 100%;
  height: 40rem;
  position: relative;

  &__texts {
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    gap: 0.8rem;
    margin-top: 8.9rem;
    z-index: 5;
  }

  &__main {
    color: $color-cloud-burst;
    font-size: 2rem;
    font-weight: $fw-800;
  }

  &__sub-texts {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $color-regent-grey;
    font-size: 1.3rem;
    font-weight: $fw-600;
    line-height: 2.3rem;
  }

  &__circles {
    display: block;
    position: absolute;
    top: 5.7rem;
  }
}

// ************ PRICING ************
.pricing {
  max-width: 32.7rem;
  border-radius: 0.8rem;
  background: $color-white;
  box-shadow: 0 2rem 3rem -0.5rem $color-wild-blue-yonder-15-percent;
  margin: 0 auto;
  transform: translateY(-16.6rem);

  &__info {
    padding: 3.4rem 1.2rem 3.8rem 2.4rem;
    border-bottom: 0.1rem solid $color-titan-white;
  }

  &__traffic {
    display: block;
    color: $color-regent-grey;
    text-align: center;
    font-size: 1.2rem;
    font-weight: $fw-800;
    letter-spacing: 0.1714rem;
    text-transform: uppercase;
    margin-bottom: 4.1rem;
  }

  &__traffic-slider {
    width: 100%;
    max-width: 27.9rem;
    height: 0.8rem;
    border-radius: 0.5rem;
    background: linear-gradient(
      to right,
      $color-ice-cold 50%,
      $color-titan-white 50%
    );
    transition: background 0.3s ease-in-out;
    outline: none;
    -webkit-appearance: none;
    appearance: none;
    position: relative;
    z-index: 10;
    margin-bottom: 4rem;

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      background: $color-dark-turquoise;
      background-image: url(../images/icon-slider.svg);
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &__price-per-month {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 3.4rem;
  }

  &__price {
    color: $color-cloud-burst;
    font-size: 3.2rem;
    font-weight: $fw-800;
    letter-spacing: -0.08rem;
  }

  &__per-month {
    color: $color-regent-grey;
    font-size: 1.4rem;
    font-weight: $fw-600;
  }

  &__billing {
    display: flex;
    align-items: center;
    margin-left: 2.05rem;
  }

  &__billing-type {
    color: $color-regent-grey;
    font-size: 1.2rem;
    font-weight: $fw-600;
  }

  &__toggle {
    margin: 0 1.2rem;
  }

  &__checkbox {
    display: none;
  }

  &__slider {
    display: inline-block;
    position: relative;
    width: 4.3rem;
    height: 2.2rem;
    background: $color-tropical-blue;
    border-radius: 1.5rem;

    &::before {
      display: inline-block;
      content: "";
      width: 1.4rem;
      height: 1.4rem;
      background: $color-white;
      border-radius: 1.4rem;
      position: absolute;
      top: 0.4rem;
      left: 0.4rem;
      transition: transform 0.3s;
    }
  }

  &__checkbox:checked + &__slider {
    background: $color-dark-turquoise;
  }

  &__checkbox:checked + &__slider::before {
    transform: translateX(2.1rem);
  }

  &__billing-discount {
    width: 4.1rem;
    height: 1.9rem;
    border-radius: 0.95rem;
    background: $color-linen;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color-atomic-tangerine;
    font-size: 1rem;
    font-weight: $fw-800;
    margin-left: 0.55rem;
  }

  &__features-start {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.2rem;
    padding: 2.4rem 0 3.2rem;
  }

  &__features {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    list-style: none;
  }

  &__feature {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    color: $color-regent-grey;
    font-size: 1.2rem;
    font-weight: $fw-600;

    &::before {
      display: inline-block;
      content: "";
      width: 0.7rem;
      height: 0.6rem;
      background-image: url("../images/icon-check.svg");
      background-size: cover;
    }
  }

  &__start-btn {
    border: none;
    border-radius: 2.05rem;
    background: $color-cloud-burst;
    width: 17rem;
    height: 4.1rem;
    color: $color-periwinkle;
    text-align: center;
    font-family: $font-manrope;
    font-size: 1.2rem;
    font-weight: $fw-800;
  }
}

// ***** 320px - 330px LAYOUT *****
@media only screen and (max-width: 20.625em) {
  // *********** PRICING ***********
  .pricing {
    &__info {
      padding: 3.4rem 2.4rem 3.8rem;
    }

    &__billing-type {
      font-size: 1.05rem;
    }
  }
}

// ********* TABLET LAYOUT *********

// ********** 768px LAYOUT **********
@media only screen and (min-width: 48em) {
  // ************ HEADER ************
  .header {
    height: 44.9rem;

    &__texts {
      gap: 1.2rem;
      margin-top: 10.4rem;
    }

    &__main {
      font-size: 2.8rem;
    }

    &__sub-texts {
      flex-direction: row;
      align-items: initial;
      gap: 0.3rem;
      font-size: 1.5rem;
      line-height: initial;
    }

    &__circles {
      top: 6.7rem;
    }
  }

  // *********** PRICING ***********
}
