// ********* TABLET LAYOUT *********

// ********** 768px LAYOUT **********
@media only screen and (min-width: 48em) {
  // ************ HEADER ************
  .header {
    height: 44.9rem;

    &__texts {
      gap: 1.2rem;
      margin-top: 10.4rem;
    }

    &__main {
      font-size: 2.8rem;
    }

    &__sub-texts {
      flex-direction: row;
      align-items: initial;
      gap: 0.3rem;
      font-size: 1.5rem;
      line-height: initial;
    }

    &__circles {
      top: 6.7rem;
    }
  }

  // *********** PRICING ***********
  .pricing {
    max-width: 54rem;
    transform: translateY(-18.3rem);

    &__info {
      padding: 5.8rem 4.8rem 4rem 4.6rem;
      position: relative;
    }

    &__traffic {
      text-align: left;
      font-size: 1.4rem;
      letter-spacing: 0.2rem;
      margin-bottom: initial;
    }

    &__traffic-slider {
      margin-top: 5.8rem;
      max-width: initial;
      margin-bottom: 5.6rem;
    }

    &__price-per-month {
      position: absolute;
      top: 4rem;
      right: 4.8rem;
      gap: 0.8rem;
      margin-bottom: initial;
    }

    &__price {
      font-size: 4rem;
      letter-spacing: -0.1rem;
    }

    &__per-month {
      font-size: 1.6rem;
    }

    &__billing {
      margin-left: 10.8rem;
    }

    &__toggle {
      margin: 0 1.6rem;
    }

    &__billing-discount {
      width: 8rem;
      margin-left: 0.9rem;
    }

    &__features-start {
      flex-direction: row;
      justify-content: space-between;
      gap: initial;
      padding: 3.2rem 4.4rem 3.3rem 4.8rem;
    }

    &__features {
      align-items: start;
      gap: 1.1rem;
    }
  }
}
